In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# Load the data
df_crashes = pd.read_csv('data/Traffic_Crashes_-_Crashes.csv')
df_people = pd.read_csv('data/Traffic_Crashes_-_People.csv')
df_vehicles = pd.read_csv('data/Traffic_Crashes_-_Vehicles.csv')

C:\Users\Clay\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (20,24,25,26,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Clay\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (19,21,40,41,42,44,48,49,50,53,55,58,59,61,71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df_crashes.value_counts('LOCATION')

LOCATION
POINT (-87.905309125103 41.976201139024)    985
POINT (-87.619928173678 41.900958919109)    601
POINT (-87.580147768689 41.791420282098)    460
POINT (-87.585971992965 41.751460603167)    444
POINT (-87.585275565077 41.722257273006)    363
                                           ...
POINT (-87.696951130821 41.908506846481)      1
POINT (-87.696950771213 41.985478259743)      1
POINT (-87.696949607476 41.994489826739)      1
POINT (-87.696949565133 41.824245325812)      1
POINT (-87.680487782752 42.004230539066)      1
Length: 260235, dtype: int64

In [3]:
df_crashes['CRASH_DATE'].isnull().values.sum()

0

In [4]:
df_crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 655182 entries, 0 to 655181
Data columns (total 49 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                655182 non-null  object
 1   RD_NO                          650595 non-null  object
 2   CRASH_DATE_EST_I               49695 non-null   object
 3   CRASH_DATE                     655182 non-null  object
 4   POSTED_SPEED_LIMIT             655182 non-null  int64
 5   TRAFFIC_CONTROL_DEVICE         655182 non-null  object
 6   DEVICE_CONDITION               655182 non-null  object
 7   WEATHER_CONDITION              655182 non-null  object
 8   LIGHTING_CONDITION             655182 non-null  object
 9   FIRST_CRASH_TYPE               655182 non-null  object
 10  TRAFFICWAY_TYPE                655182 non-null  object
 11  LANE_CNT                       198991 non-null  float64
 12  ALIGNMENT                      655182 non-null  object
 13  ROADWAY_SURFACE_COND           655182 non-null  object
 14  ROAD_DEFECT                    655182 non-null  object
 15  REPORT_TYPE                    637691 non-null  object
 16  CRASH_TYPE                     655182 non-null  object
 17  INTERSECTION_RELATED_I         149868 non-null  object
 18  NOT_RIGHT_OF_WAY_I             30846 non-null   object
 19  HIT_AND_RUN_I                  202162 non-null  object
 20  DAMAGE                         655182 non-null  object
 21  DATE_POLICE_NOTIFIED           655182 non-null  object
 22  PRIM_CONTRIBUTORY_CAUSE        655182 non-null  object
 23  SEC_CONTRIBUTORY_CAUSE         655182 non-null  object
 24  STREET_NO                      655182 non-null  int64
 25  STREET_DIRECTION               655178 non-null  object
 26  STREET_NAME                    655181 non-null  object
 27  BEAT_OF_OCCURRENCE             655177 non-null  float64
 28  PHOTOS_TAKEN_I                 8084 non-null    object
 29  STATEMENTS_TAKEN_I             13513 non-null   object
 30  DOORING_I                      2055 non-null    object
 31  WORK_ZONE_I                    3895 non-null    object
 32  WORK_ZONE_TYPE                 3056 non-null    object
 33  WORKERS_PRESENT_I              997 non-null     object
 34  NUM_UNITS                      655182 non-null  int64
 35  MOST_SEVERE_INJURY             653781 non-null  object
 36  INJURIES_TOTAL                 653792 non-null  float64
 37  INJURIES_FATAL                 653792 non-null  float64
 38  INJURIES_INCAPACITATING        653792 non-null  float64
 39  INJURIES_NON_INCAPACITATING    653792 non-null  float64
 40  INJURIES_REPORTED_NOT_EVIDENT  653792 non-null  float64
 41  INJURIES_NO_INDICATION         653792 non-null  float64
 42  INJURIES_UNKNOWN               653792 non-null  float64
 43  CRASH_HOUR                     655182 non-null  int64
 44  CRASH_DAY_OF_WEEK              655182 non-null  int64
 45  CRASH_MONTH                    655182 non-null  int64
 46  LATITUDE                       651108 non-null  float64
 47  LONGITUDE                      651108 non-null  float64
 48  LOCATION                       651108 non-null  object
dtypes: float64(11), int64(6), object(32)
memory usage: 244.9+ MB

In [5]:
df_crashes.value_counts('CRASH_TYPE', normalize=True)

CRASH_TYPE
NO INJURY / DRIVE AWAY              0.73861
INJURY AND / OR TOW DUE TO CRASH    0.26139
dtype: float64

In [6]:
df_crashes.value_counts('PRIM_CONTRIBUTORY_CAUSE')

PRIM_CONTRIBUTORY_CAUSE
UNABLE TO DETERMINE                                                                 250072
FAILING TO YIELD RIGHT-OF-WAY                                                        71486
FOLLOWING TOO CLOSELY                                                                65861
NOT APPLICABLE                                                                       34579
IMPROPER OVERTAKING/PASSING                                                          31604
FAILING TO REDUCE SPEED TO AVOID CRASH                                               28186
IMPROPER BACKING                                                                     27134
IMPROPER LANE USAGE                                                                  24384
IMPROPER TURNING/NO SIGNAL                                                           21627
DRIVING SKILLS/KNOWLEDGE/EXPERIENCE                                                  21132
DISREGARDING TRAFFIC SIGNALS                                                         12606
WEATHER                                                                              10341
OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER      8370
DISREGARDING STOP SIGN                                                                7332
DISTRACTION - FROM INSIDE VEHICLE                                                     4649
EQUIPMENT - VEHICLE CONDITION                                                         4194
PHYSICAL CONDITION OF DRIVER                                                          4005
VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)                                  3788
DRIVING ON WRONG SIDE/WRONG WAY                                                       3332
UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)                    3290
DISTRACTION - FROM OUTSIDE VEHICLE                                                    2842
EXCEEDING AUTHORIZED SPEED LIMIT                                                      1982
ROAD ENGINEERING/SURFACE/MARKING DEFECTS                                              1740
EXCEEDING SAFE SPEED FOR CONDITIONS                                                   1684
ROAD CONSTRUCTION/MAINTENANCE                                                         1481
DISREGARDING OTHER TRAFFIC SIGNS                                                      1420
EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST                                     1255
CELL PHONE USE OTHER THAN TEXTING                                                      906
DISREGARDING ROAD MARKINGS                                                             857
HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)                                        715
ANIMAL                                                                                 540
TURNING RIGHT ON RED                                                                   456
DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)            307
TEXTING                                                                                274
RELATED TO BUS STOP                                                                    273
DISREGARDING YIELD SIGN                                                                241
PASSING STOPPED SCHOOL BUS                                                              84
BICYCLE ADVANCING LEGALLY ON RED LIGHT                                                  74
OBSTRUCTED CROSSWALKS                                                                   59
MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT                                               20
dtype: int64

In [7]:
df_crashes.describe()

,POSTED_SPEED_LIMIT,LANE_CNT,STREET_NO,BEAT_OF_OCCURRENCE,NUM_UNITS,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE
count,655182.000000,1.989910e+05,655182.000000,655177.000000,655182.000000,653792.000000,653792.000000,653792.000000,653792.000000,653792.000000,653792.000000,653792.0,655182.000000,655182.000000,655182.000000,651108.000000,651108.000000
mean,28.356959,1.333110e+01,3679.548066,1238.516024,2.034471,0.184946,0.001169,0.019945,0.104094,0.059738,2.009078,0.0,13.222685,4.124272,6.641816,41.854503,-87.673305
std,6.296888,2.961735e+03,2900.740273,705.633978,0.451588,0.558173,0.037166,0.164928,0.415576,0.314214,1.159790,0.0,5.549903,1.980657,3.365989,0.331127,0.672390
min,0.000000,0.000000e+00,0.000000,111.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,0.000000,-87.936193
25%,30.000000,2.000000e+00,1231.000000,712.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,9.000000,2.000000,4.000000,41.781166,-87.721366
50%,30.000000,2.000000e+00,3200.000000,1135.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.0,14.000000,4.000000,7.000000,41.874533,-87.673586
75%,30.000000,4.000000e+00,5600.000000,1822.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.0,17.000000,6.000000,9.000000,41.923996,-87.632948
max,99.000000,1.191625e+06,451100.000000,6100.000000,18.000000,21.000000,4.000000,7.000000,21.000000,15.000000,61.000000,0.0,23.000000,7.000000,12.000000,42.022780,0.000000

In [8]:
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437611 entries, 0 to 1437610
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1437611 non-null  object
 1   PERSON_TYPE            1437611 non-null  object
 2   CRASH_RECORD_ID        1437611 non-null  object
 3   RD_NO                  1427609 non-null  object
 4   VEHICLE_ID             1409360 non-null  float64
 5   CRASH_DATE             1437611 non-null  object
 6   SEAT_NO                291901 non-null   float64
 7   CITY                   1050999 non-null  object
 8   STATE                  1064623 non-null  object
 9   ZIPCODE                960180 non-null   object
 10  SEX                    1415368 non-null  object
 11  AGE                    1020510 non-null  float64
 12  DRIVERS_LICENSE_STATE  845447 non-null   object
 13  DRIVERS_LICENSE_CLASS  718124 non-null   object
 14  SAFETY_EQUIPMENT       1433524 non-null  object
 15  AIRBAG_DEPLOYED        1410501 non-null  object
 16  EJECTION               1420273 non-null  object
 17  INJURY_CLASSIFICATION  1436979 non-null  object
 18  HOSPITAL               250661 non-null   object
 19  EMS_AGENCY             156403 non-null   object
 20  EMS_RUN_NO             25665 non-null    object
 21  DRIVER_ACTION          1143090 non-null  object
 22  DRIVER_VISION          1142686 non-null  object
 23  PHYSICAL_CONDITION     1143895 non-null  object
 24  PEDPEDAL_ACTION        26726 non-null    object
 25  PEDPEDAL_VISIBILITY    26671 non-null    object
 26  PEDPEDAL_LOCATION      26722 non-null    object
 27  BAC_RESULT             1144105 non-null  object
 28  BAC_RESULT VALUE       1753 non-null     float64
 29  CELL_PHONE_USE         1157 non-null     object
dtypes: float64(4), object(26)
memory usage: 329.0+ MB

In [9]:
df_people.value_counts('AGE')

AGE
 25.0     29097
 26.0     28866
 27.0     28844
 28.0     28233
 24.0     28087
          ...
 106.0        1
-40.0         1
-47.0         1
-49.0         1
-177.0        1
Length: 116, dtype: int64

In [10]:
df_people.value_counts('SEAT_NO')

SEAT_NO
3.0     141416
6.0      49384
4.0      39052
5.0      13825
1.0      12714
2.0      11983
12.0      7516
7.0       6744
10.0      6405
11.0      2525
8.0        337
dtype: int64

In [11]:
df_vehicles.value_counts('CMRC_VEH_I')

CMRC_VEH_I
Y    16254
N     8673
dtype: int64

In [12]:
df_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1335230 entries, 0 to 1335229
Data columns (total 72 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CRASH_UNIT_ID             1335230 non-null  int64
 1   CRASH_RECORD_ID           1335230 non-null  object
 2   RD_NO                     1325924 non-null  object
 3   CRASH_DATE                1335230 non-null  object
 4   UNIT_NO                   1335230 non-null  int64
 5   UNIT_TYPE                 1333361 non-null  object
 6   NUM_PASSENGERS            198353 non-null   float64
 7   VEHICLE_ID                1304967 non-null  float64
 8   CMRC_VEH_I                24927 non-null    object
 9   MAKE                      1304962 non-null  object
 10  MODEL                     1304818 non-null  object
 11  LIC_PLATE_STATE           1187047 non-null  object
 12  VEHICLE_YEAR              1092432 non-null  float64
 13  VEHICLE_DEFECT            1304967 non-null  object
 14  VEHICLE_TYPE              1304967 non-null  object
 15  VEHICLE_USE               1304967 non-null  object
 16  TRAVEL_DIRECTION          1304967 non-null  object
 17  MANEUVER                  1304967 non-null  object
 18  TOWED_I                   162050 non-null   object
 19  FIRE_I                    1062 non-null     object
 20  OCCUPANT_CNT              1304967 non-null  float64
 21  EXCEED_SPEED_LIMIT_I      2397 non-null     object
 22  TOWED_BY                  120536 non-null   object
 23  TOWED_TO                  74156 non-null    object
 24  AREA_00_I                 47900 non-null    object
 25  AREA_01_I                 351739 non-null   object
 26  AREA_02_I                 216469 non-null   object
 27  AREA_03_I                 126691 non-null   object
 28  AREA_04_I                 128805 non-null   object
 29  AREA_05_I                 199196 non-null   object
 30  AREA_06_I                 206230 non-null   object
 31  AREA_07_I                 185253 non-null   object
 32  AREA_08_I                 202505 non-null   object
 33  AREA_09_I                 76788 non-null    object
 34  AREA_10_I                 110769 non-null   object
 35  AREA_11_I                 217168 non-null   object
 36  AREA_12_I                 213818 non-null   object
 37  AREA_99_I                 146804 non-null   object
 38  FIRST_CONTACT_POINT       1293476 non-null  object
 39  CMV_ID                    14038 non-null    float64
 40  USDOT_NO                  8044 non-null     object
 41  CCMC_NO                   1755 non-null     object
 42  ILCC_NO                   1230 non-null     object
 43  COMMERCIAL_SRC            9556 non-null     object
 44  GVWR                      7988 non-null     object
 45  CARRIER_NAME              13428 non-null    object
 46  CARRIER_STATE             12645 non-null    object
 47  CARRIER_CITY              12425 non-null    object
 48  HAZMAT_PLACARDS_I         276 non-null      object
 49  HAZMAT_NAME               51 non-null       object
 50  UN_NO                     489 non-null      object
 51  HAZMAT_PRESENT_I          10282 non-null    object
 52  HAZMAT_REPORT_I           9972 non-null     object
 53  HAZMAT_REPORT_NO          1 non-null        object
 54  MCS_REPORT_I              10033 non-null    object
 55  MCS_REPORT_NO             6 non-null        object
 56  HAZMAT_VIO_CAUSE_CRASH_I  10130 non-null    object
 57  MCS_VIO_CAUSE_CRASH_I     9946 non-null     object
 58  IDOT_PERMIT_NO            793 non-null      object
 59  WIDE_LOAD_I               123 non-null      object
 60  TRAILER1_WIDTH            2584 non-null     object
 61  TRAILER2_WIDTH            303 non-null      object
 62  TRAILER1_LENGTH           2124 non-null     float64
 63  TRAILER2_LENGTH           60 non-null       float64
 64  TOTAL_VEHICLE_LENGTH      2577 non-null     float64
 65  AXLE_CNT                  3786 non-null     float64
 66  VEHICLE_CONFIG            11649 non-null    object
 67  CARGO_BODY_TYPE           11148 non-null    object
 68  LOAD_TYPE                 10655 non-null    object
 69  HAZMAT_OUT_OF_SERVICE_I   9674 non-null     object
 70  MCS_OUT_OF_SERVICE_I      9921 non-null     object
 71  HAZMAT_CLASS              939 non-null      object
dtypes: float64(9), int64(2), object(61)
memory usage: 733.5+ MB

In [13]:
df_vehicles.describe()

,CRASH_UNIT_ID,UNIT_NO,NUM_PASSENGERS,VEHICLE_ID,VEHICLE_YEAR,OCCUPANT_CNT,CMV_ID,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT
count,1.335230e+06,1.335230e+06,198353.000000,1.304967e+06,1.092432e+06,1.304967e+06,14038.000000,2124.000000,60.000000,2577.000000,3786.000000
mean,7.137470e+05,4.393513e+00,1.471624,6.789888e+05,2.013626e+03,1.079589e+00,7834.378188,48.524482,44.283333,53.164532,10.611727
std,4.140649e+05,3.269548e+03,1.051002,3.917114e+05,1.439261e+02,7.843770e-01,4544.299628,21.496023,28.490909,31.918473,422.650657
min,2.000000e+00,0.000000e+00,1.000000,2.000000e+00,1.900000e+03,0.000000e+00,1.000000,1.000000,2.000000,1.000000,1.000000
25%,3.537642e+05,1.000000e+00,1.000000,3.400725e+05,2.006000e+03,1.000000e+00,3875.250000,45.000000,22.750000,35.000000,2.000000
50%,7.149485e+05,2.000000e+00,1.000000,6.794450e+05,2.012000e+03,1.000000e+00,7856.500000,53.000000,48.000000,53.000000,3.000000
75%,1.072923e+06,2.000000e+00,2.000000,1.017828e+06,2.016000e+03,1.000000e+00,11783.750000,53.000000,53.000000,66.000000,5.000000
max,1.429734e+06,3.778035e+06,59.000000,1.358762e+06,9.999000e+03,9.900000e+01,15671.000000,740.000000,123.000000,999.000000,26009.000000

In [14]:
vehicles_columns_to_drop = df_vehicles[['RD_NO', 'CRASH_DATE', 'LIC_PLATE_STATE', 'AREA_00_I', 'AREA_01_I', 
                                       'AREA_02_I', 'AREA_03_I','AREA_04_I','AREA_05_I','AREA_06_I','AREA_07_I',
                                       'AREA_08_I','AREA_09_I','AREA_10_I','AREA_11_I','AREA_12_I','AREA_99_I',
                                       'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'COMMERCIAL_SRC', 'GVWR',
                                       'CARRIER_NAME', 'CARRIER_CITY', 'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO',
                                       'HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO', 'MCS_REPORT_I', 
                                       'IDOT_PERMIT_NO', 'WIDE_LOAD_I', 'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'TRAILER1_LENGTH', 
                                       'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH', 'AXLE_CNT', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I',
                                        'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS', 'MAKE', 'MODEL', 'VEHICLE_YEAR', 'VEHICLE_DEFECT', 
                                       'VEHICLE_CONFIG', 'CARGO_BODY_TYPE', 'EXCEED_SPEED_LIMIT_I', 'TOWED_BY', 'TOWED_I', 'CARRIER_STATE',
                                       'FIRE_I', 'MCS_REPORT_NO','HAZMAT_VIO_CAUSE_CRASH_I','MCS_VIO_CAUSE_CRASH_I', 'TOWED_TO',
                                        'CMRC_VEH_I','VEHICLE_ID', 'OCCUPANT_CNT', 'NUM_PASSENGERS', 'TRAVEL_DIRECTION', 'MANEUVER',
                                       'VEHICLE_USE']]

In [15]:
df_vehicles = df_vehicles.drop(columns=vehicles_columns_to_drop)

In [16]:
df_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1335230 entries, 0 to 1335229
Data columns (total 6 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   CRASH_UNIT_ID        1335230 non-null  int64
 1   CRASH_RECORD_ID      1335230 non-null  object
 2   UNIT_NO              1335230 non-null  int64
 3   UNIT_TYPE            1333361 non-null  object
 4   VEHICLE_TYPE         1304967 non-null  object
 5   FIRST_CONTACT_POINT  1293476 non-null  object
dtypes: int64(2), object(4)
memory usage: 61.1+ MB

In [17]:
df_vehicles.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,UNIT_NO,UNIT_TYPE,VEHICLE_TYPE,FIRST_CONTACT_POINT
0,829999,24ddf9fd8542199d832e1c223cc474e5601b356f1d77a6...,1,DRIVER,PASSENGER,FRONT
1,749947,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,1,DRIVER,PASSENGER,FRONT
2,749949,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,2,PARKED,UNKNOWN/NA,ROOF
3,749950,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,3,PARKED,UNKNOWN/NA,ROOF
4,871921,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,2,DRIVER,PASSENGER,FRONT-RIGHT

In [23]:
df_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1335230 entries, 0 to 1335229
Data columns (total 6 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   CRASH_UNIT_ID        1335230 non-null  int64
 1   CRASH_RECORD_ID      1335230 non-null  object
 2   UNIT_NO              1335230 non-null  int64
 3   UNIT_TYPE            1333361 non-null  object
 4   VEHICLE_TYPE         1304967 non-null  object
 5   FIRST_CONTACT_POINT  1293476 non-null  object
dtypes: int64(2), object(4)
memory usage: 61.1+ MB

In [22]:
df_vehicles.value_counts('UNIT_TYPE')

UNIT_TYPE
DRIVER                 1117947
PARKED                  175710
PEDESTRIAN               16282
DRIVERLESS               11777
BICYCLE                  10036
NON-MOTOR VEHICLE         1187
NON-CONTACT VEHICLE        258
DISABLED VEHICLE           157
EQUESTRIAN                   7
dtype: int64