In [1]:
# Import relevant libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read in crash data

people_df = pd.read_csv('./Data/Traffic_Crashes_-_People.csv', dtype={'EMS_RUN_NO': 'str', 'PEDPEDAL_ACTION': 'str','PEDPEDAL_VISIBILITY': 'str', 'PEDPEDAL_LOCATION': 'str', 'CELL_PHONE_USE': 'str'})

In [3]:
# Inspect DataFrame

people_df

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,834816.0,09/28/2019 03:30:00 AM,NaN,CHICAGO,IL,60651,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,827212.0,04/13/2020 10:50:00 PM,NaN,CHICAGO,IL,60620,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,HY484534,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,IMPROPER BACKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10038,DRIVER,c21c476e2ccc41af550b5d858d22aaac4ffc88745a1700...,HY484750,9598.0,11/01/2015 08:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O10039,DRIVER,eb390a4c8e114c69488f5fb8a097fe629f5a92fd528cf4...,HY484778,9600.0,11/01/2015 10:15:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437789,P317467,PASSENGER,d70adb92f8fcf973ac9221df82d0c4367886299d4ad857...,NaN,1358883.0,09/29/2022 10:10:00 AM,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437790,P317470,PASSENGER,46efa7dc90474335637f2274702d3c8a84edc86e486fe5...,NaN,1358895.0,09/29/2022 08:49:00 AM,3.0,CHICAGO,IL,60628,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437791,P317474,PASSENGER,46efa7dc90474335637f2274702d3c8a84edc86e486fe5...,NaN,1358895.0,09/29/2022 08:49:00 AM,4.0,CHICAGO,IL,60628,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437792,P317477,PASSENGER,927ea20ffa0cf65bf1574a0562f6a009435b156e72d322...,NaN,1358899.0,09/29/2022 09:51:00 AM,3.0,CHICAGO,IL,60616,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437793,P317478,PASSENGER,d8b8178fa5383a6941a32eac24e3234b3ab68ab609b93a...,NaN,1358913.0,09/29/2022 10:51:00 AM,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
Age_Series = people_df.groupby(['CRASH_RECORD_ID'])[['AGE']].agg('median')
Age_Series

                                                     AGE
CRASH_RECORD_ID
000013b0123279411e0ec856dae95ab9f0851764350b7fe...  51.0
00002c0771fb6f2c70ba775b7f6b501608cadea85c1dd13...  35.0
000043c6564ec4d54bc4efd957d97ca97f38a965dd64b46...   NaN
000070ed7a6357c3298f5edc6fb7d5ce925a10f46660f37...  47.5
0000b70a00c8809f76b5234f81753264d9160c314cc5e67...   NaN
...                                                  ...
ffffc0eaf9bc22a04bf318b62e0e1c5ec59a4f3c0c34936...   NaN
ffffc784918a94c6d5ec9cdced500004faafc6a9e6e01b4...   NaN
ffffc802346fd6f48f99117898fbc558237a3052c327b87...  39.0
ffffe467b0d2d95c897e8c2721941f87dede1661a3b60ce...  33.5
ffffe577251dc1cc67f2f823b595e5028427a210e2a40e7...  32.0

[653876 rows x 1 columns]

In [5]:
Person_Count_Series = people_df.groupby(['CRASH_RECORD_ID'])[['SEX']].agg('count')
Person_Count_Series.rename(columns = {'SEX' : 'PERSON_COUNT'}, inplace = True)

Person_Count_Series

                                                    PERSON_COUNT
CRASH_RECORD_ID
000013b0123279411e0ec856dae95ab9f0851764350b7fe...             1
00002c0771fb6f2c70ba775b7f6b501608cadea85c1dd13...             2
000043c6564ec4d54bc4efd957d97ca97f38a965dd64b46...             1
000070ed7a6357c3298f5edc6fb7d5ce925a10f46660f37...             2
0000b70a00c8809f76b5234f81753264d9160c314cc5e67...             1
...                                                          ...
ffffc0eaf9bc22a04bf318b62e0e1c5ec59a4f3c0c34936...             1
ffffc784918a94c6d5ec9cdced500004faafc6a9e6e01b4...             1
ffffc802346fd6f48f99117898fbc558237a3052c327b87...             3
ffffe467b0d2d95c897e8c2721941f87dede1661a3b60ce...             2
ffffe577251dc1cc67f2f823b595e5028427a210e2a40e7...             2

[653876 rows x 1 columns]

In [6]:
Airbag_Series = people_df.groupby(['CRASH_RECORD_ID'])[['AIRBAG_DEPLOYED']].first()

Airbag_Series = pd.DataFrame(Airbag_Series['AIRBAG_DEPLOYED'].str.contains('DEPLOYED'))

Airbag_Series

                                                   AIRBAG_DEPLOYED
CRASH_RECORD_ID
000013b0123279411e0ec856dae95ab9f0851764350b7fe...           False
00002c0771fb6f2c70ba775b7f6b501608cadea85c1dd13...           False
000043c6564ec4d54bc4efd957d97ca97f38a965dd64b46...           False
000070ed7a6357c3298f5edc6fb7d5ce925a10f46660f37...           False
0000b70a00c8809f76b5234f81753264d9160c314cc5e67...           False
...                                                            ...
ffffc0eaf9bc22a04bf318b62e0e1c5ec59a4f3c0c34936...           False
ffffc784918a94c6d5ec9cdced500004faafc6a9e6e01b4...           False
ffffc802346fd6f48f99117898fbc558237a3052c327b87...           False
ffffe467b0d2d95c897e8c2721941f87dede1661a3b60ce...           False
ffffe577251dc1cc67f2f823b595e5028427a210e2a40e7...           False

[653876 rows x 1 columns]

In [7]:
Safety_Series = people_df.groupby(['CRASH_RECORD_ID'])[['SAFETY_EQUIPMENT']].first()



#index_list = Safety_Series.index[Safety_Series['SAFETY_EQUIPMENT'] == 'USAGE UNKNOWN'].tolist()


equipment_list = ['NONE PRESENT','SAFETY BELT NOT USED','HELMET NOT USED','NOT DOT COMPLIANT MOTORCYCLE HELMET','SHOULD/LAP BELT USED IMPROPERLY','CHILD RESTRAINT NOT USED','CHILD RESTRAINT USED IMPROPERLY']


Safety_Series['BOOL'] = pd.DataFrame( (Safety_Series['SAFETY_EQUIPMENT'].isin(equipment_list)))

Safety_Series["BOOL"] =  ~Safety_Series["BOOL"]

Safety_Series.loc[Safety_Series['SAFETY_EQUIPMENT'] == 'USAGE UNKNOWN', ['BOOL']] = 'Unknown'

Safety_Series = Safety_Series[['BOOL']]

Safety_Series.rename(columns = {'BOOL' : 'SAFETY_EQUIPMENT'}, inplace = True)

Safety_Series

                                                   SAFETY_EQUIPMENT
CRASH_RECORD_ID
000013b0123279411e0ec856dae95ab9f0851764350b7fe...             True
00002c0771fb6f2c70ba775b7f6b501608cadea85c1dd13...          Unknown
000043c6564ec4d54bc4efd957d97ca97f38a965dd64b46...          Unknown
000070ed7a6357c3298f5edc6fb7d5ce925a10f46660f37...             True
0000b70a00c8809f76b5234f81753264d9160c314cc5e67...          Unknown
...                                                             ...
ffffc0eaf9bc22a04bf318b62e0e1c5ec59a4f3c0c34936...          Unknown
ffffc784918a94c6d5ec9cdced500004faafc6a9e6e01b4...            False
ffffc802346fd6f48f99117898fbc558237a3052c327b87...          Unknown
ffffe467b0d2d95c897e8c2721941f87dede1661a3b60ce...          Unknown
ffffe577251dc1cc67f2f823b595e5028427a210e2a40e7...          Unknown

[653876 rows x 1 columns]